<h1>Stop the aliens!</h1>

<p>
  We found this note in a dumpster. We think it's from invading aliens! Can you
  read it?
</p>

<div class='challenge rounded'>
  <p>Resistance is futile! Bring back Futurella or we'll invade!</p>

  <p>Also, the flag is <%=FLAG%></p>
</div>
