<html>
  <head>
    <title>Mixer!</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <content>
      <div class="container">
        <%= yield %>
      </div>
    </content>
  </body>
</html>
